{% extends 'adminLayout.html' %}
{% block content %}	
    <!-- <?php 
    /*
        $periksa_bahan=mysqli_query($conn,"select * from stock_brg where stock <10");
        while($p=mysqli_fetch_array($periksa_bahan)){	
            if($p['stock']>=1){	
                ?>	
                <script>
                    $(document).ready(function(){
                        $('#pesan_sedia').css("color","white");
                        $('#pesan_sedia').append("<i class='ti-flag'></i>");
                    });
                </script>
                <?php
                echo "<div class='alert alert-danger alert-dismissible fade show'><button type='button' class='close' data-dismiss='alert'>&times;</button>Stok  <strong><u>".$p['nama']. "</u> <u>".($p['jenis'])."</u></strong> yang tersisa kurang dari 10</div>";		
            }
        }
        
        */
        ?>
    
     -->
    <!-- page title area end -->
    <div class="main-content-inner">
    
        
        <div class="sales-report-area mt-5 mb-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-report mb-xs-30">
                        <div class="s-report-inner pr--20 pt--30 mb-3">
                            <div class="icon"><i class="fa fa-user"></i></div>
                            <div class="s-report-title d-flex justify-content-between">
                                <h4 class="header-title mb-0">Pelanggan</h4>
                            </div>
                            <div class="d-flex justify-content-between pb-2">
                                {% for item in count_customers %}
                                <h1>{{ item.jumlahcust }}</h1>
                                {% endfor %}
                            </div>
                            </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="single-report">
                        <div class="s-report-inner pr--20 pt--30 mb-3">
                            <div class="icon"><i class="fa fa-book"></i></div>
                            <div class="s-report-title d-flex justify-content-between">
                                <h4 class="header-title mb-0">Pesanan</h4>
                            </div>
                            <div class="d-flex justify-content-between pb-2">
                                {% for item in count_order %}
                                <h1>{{ item.jumlahorder }}</h1>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-report mb-xs-30">
                        <div class="s-report-inner pr--20 pt--30 mb-3">
                            <div class="icon"><i class="fa fa-link"></i></div>
                            <div class="s-report-title d-flex justify-content-between">
                                <h4 class="header-title mb-0">Konfirmasi Pembayaran</h4>
                            </div>
                            <div class="d-flex justify-content-between pb-2">
                                {% for item in count_trans %}
                                <h1>{{ item.jumlahtrans }}</h1>
                                {% endfor %}
                            </div>
                            <!--
                            <button type="button" class="<?php 
                            if($itungtrans3==0){
                                echo 'btn btn-secondary btn-block';
                            } else {
                                echo 'btn btn-primary btn-block';
                            }
                            ?>
                            ">Lihat Transaksi</button>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- overview area end -->
        <!-- market value area start -->
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-center">
                            <h2>Selamat Datang</h2>
                        </div>
                        <div class="market-status-table mt-4">
                            Anda masuk sebagai <strong><?php echo $_SESSION['name'] ?></strong>
                            <br>
                            <p>Pada halaman admin, Anda dapat menambah kategori produk, mengelola produk, 
                            mengelola user dan admin, melihat konfirmasi pembayaran</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row area start-->
    </div>
{% endblock content %}	