{% extends 'adminLayout.html' %}
{% block content %}	
    <div class="main-content-inner">
        <!-- market value area start -->
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-center">
                            <h2>Daftar Kategori</h2>
                            <button style="margin-bottom:20px" data-toggle="modal" data-target="#myModal" class="btn btn-info col-md-2">Tambah Kategori</button>
                        </div>
                            <div class="data-tables datatable-dark">
                                    <table id="dataTable3" class="display" style="width:100%"><thead class="thead-dark">
                                    <tr>
                                        <th>No.</th>
                                        <th>Nama Kategori</th>
                                        <th>Jumlah Produk</th>
                                        <th>Tanggal Dibuat</th>
                                    </tr></thead><tbody>
                                    <?php 
                                    $brgs=mysqli_query($conn,"SELECT * from kategori order by idkategori ASC");
                                    $no=1;
                                    while($p=mysqli_fetch_array($brgs)){
                                        $id = $p['idkategori'];

                                        ?>
                                        
                                        <tr>
                                            <td><?php echo $no++ ?></td>
                                            <td><?php echo $p['namakategori'] ?></td>
                                            <td><?php 
                                        
                                                $result1 = mysqli_query($conn,"SELECT Count(idproduk) AS count FROM produk p, kategori k where p.idkategori=k.idkategori and k.idkategori='$id' order by idproduk ASC");
                                                $cekrow = mysqli_num_rows($result1);
                                                $row1 = mysqli_fetch_assoc($result1);
                                                $count = $row1['count'];
                                                if($cekrow > 0){
                                                echo number_format($count);
                                                } else {
                                                    echo 'No data';
                                                }
                                            ?></td>
                                            <td><?php echo $p['tgldibuat'] ?></td>
                                            
                                        </tr>		
                                        
                                        <?php 
                                    }
                                    
                                    ?>
                                </tbody>
                                </table>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row area start-->
    </div>
{% endblock content %}