{% extends 'adminLayout.html' %}
{% block content %}	
    <div class="main-content-inner">
        <!-- market value area start -->
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-center">
                            <h2>Daftar Kategori</h2>
                            <button style="margin-bottom:20px" data-toggle="modal" data-target="#myModal" class="btn btn-info col-md-2">Tambah Kategori</button>
                        </div>
                            <div class="data-tables datatable-dark">
                                    <table id="dataTable3" class="display" style="width:100%"><thead class="thead-dark">
                                    <tr>
                                        <th>No.</th>
                                        <th>Nama Kategori</th>
                                        <th>Jumlah Produk</th>
                                        <th>Tanggal Dibuat</th>
                                    </tr></thead>
                                    {% for category in categories%}
                                        {% set outer_loop = loop %}
                                        {% for ac in acs%}
                                            {% if outer_loop.index0 == loop.index0 %}
                                                <tbody>
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>{{ category.namakategori }}</td>
                                                        <td>{{ ac.count }}</td>
                                                        <td>{{ category.tgldibuat }}</td>
                                                    </tr>
                                                </tbody>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </table>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row area start-->
    </div>
    <!-- modal input -->
			<div id="myModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Tambah Kategori</h4>
						</div>
						<div class="modal-body">
							<form method="post">
								<div class="form-group">
									<label>Nama Kategori</label>
									<input name="namakategori" type="text" class="form-control" required autofocus>
								</div>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
								<input name="addcategory" type="submit" class="btn btn-primary" value="Tambah">
							</div>
						</form>
					</div>
				</div>
			</div>
	
	<script>
	$(document).ready(function() {
    $('#dataTable3').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'print'
        ]
    } );
	} );
	</script>
{% endblock content %}