{% extends 'adminLayout.html' %}
{% block content %}			
	<!-- page title area end -->
	<div class="main-content-inner">
		<!-- market value area start -->
		<div class="row mt-5 mb-5">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<div class="d-sm-flex justify-content-between align-items-center">
							<h3>Order id : #<?php echo $orderids ?></h3>
							
						</div>
							<p><?php echo $checkdb['namalengkap']; ?> (<?php echo $checkdb['alamat']; ?>)</p>
						<p>Waktu order : <?php echo $checkdb['tglorder']; ?></p>
							
							<?php
							?>
							<div class="data-tables datatable-dark">
									<table id="dataTable3" class="display" style="width:100%"><thead class="thead-dark">
									<tr>
										<th>No</th>
										<th>Produk</th>
										<th>Jumlah</th>
										<th>Harga</th>
										<th>Total</th>
										
									</tr></thead><tbody>
									<?php 
									$brgs=mysqli_query($conn,"SELECT * from detailorder d, produk p where orderid='$orderids' and d.idproduk=p.idproduk order by d.idproduk ASC");
									$no=1;
									while($p=mysqli_fetch_array($brgs)){
										$total = $p['qty']*$p['hargaafter'];
										
										$result = mysqli_query($conn,"SELECT SUM(d.qty*p.hargaafter) AS count FROM detailorder d, produk p where orderid='$orderids' and d.idproduk=p.idproduk order by d.idproduk ASC");
										$row = mysqli_fetch_assoc($result);
										$cekrow = mysqli_num_rows($result);
										$count = $row['count'];
										
										?>
										
										<tr>
											<td><?php echo $no++ ?></td>
											<td><?php echo $p['namaproduk'] ?></td>
											<td><?php echo $p['qty'] ?></td>
											<td>Rp<?php echo number_format($p['hargaafter']) ?></td>
											<td>Rp<?php echo number_format($total) ?></td>
											
										</tr>
										
										
										<?php 
									}
									?>
								</tbody>
								<tfoot>
									<tr>
										<th colspan="4" style="text-align:right">Total:</th>
										<th>Rp<?php 
										
										$result1 = mysqli_query($conn,"SELECT SUM(d.qty*p.hargaafter) AS count FROM detailorder d, produk p where orderid='$orderids' and d.idproduk=p.idproduk order by d.idproduk ASC");
										$cekrow = mysqli_num_rows($result1);
										$row1 = mysqli_fetch_assoc($result1);
										$count = $row1['count'];
										if($cekrow > 0){
											echo number_format($count);
											} else {
												echo 'No data';
											}?></th>
									</tr>
								</tfoot>
								</table>
								
							</div>
							<br>
							<?php
							
							if($checkdb['status']=='Confirmed'){
								$ambilinfo = mysqli_query($conn,"select * from konfirmasi where orderid='$orderids'");
								while($tarik=mysqli_fetch_array($ambilinfo)){		
								$met = $tarik['payment'];
								$namarek = $tarik['namarekening'];
								$tglb = $tarik['tglbayar'];
								echo '
								Informasi Pembayaran
							<div class="data-tables datatable-dark">
							<table id="dataTable2" class="display" style="width:100%"><thead class="thead-dark">
									<tr>
										<th>Metode</th>
										<th>Pemilik Rekening</th>
										<th>Tanggal Pembayaran</th>
										
									</tr></thead><tbody>
									<tr>
									<td>'.$met.'</td>
									<td>'.$namarek.'</td>
									<td>'.$tglb.'</td>
									</tr>
									</tbody>
								</table>
							</div>
							<br><br>
							<form method="post">
							<input type="submit" name="kirim" class="form-control btn btn-success" value="Kirim" \>
							</form>
							';
							}
							;
							} else {
								echo '
							<form method="post">
							<input type="submit" name="selesai" class="form-control btn btn-success" value="Selesaikan" \>
							</form>
							';
							}
							?>
							<br>
						</div>
				
					</div>
				</div>
			</div>
		<!-- row area start-->
	</div>
{% endblock content %}	