{% extends 'layout.html' %}
{% block content %}	
<!-- //navigation -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="{{url_for('index')}}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Kategori</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!--- beverages --->
	<div class="products">
		<div class="container">
			<div class="col-md-8 products-right">
				<div class="agile_top_brands_grids">
					{% for product in products %}
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="{{url_for('static', filename='images/offer.png')}}" alt=" " class="img-responsive" />
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="?idproduk={{ product.idproduk }}"><img src="{{url_for('static', filename=product.gambar)}}" width="200px" height="200px"></a>		
												<p>{{ product.namaproduk }}</p>
												<h4>{{ product.hargaafter }}<span>{{ product.hargabefore }}</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<fieldset>
													<a href="?idproduk={{ product.idproduk }}"><input type="submit" class="button" value="Lihat Produk" /></a>
												</fieldset>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
						<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!--- beverages --->
{% endblock content %}