{% extends 'layout.html' %}
{% block category %}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Kategori<b class="caret"></b></a>
	<ul class="dropdown-menu multi-column columns-3">
		<div class="row">
			<div class="multi-gd-img">
				<ul class="multi-column-dropdown">
					<h6>Kategori</h6>
					{% for category in categories %}
					<li><a href="?idkategori={{ category.idkategori }}">{{ category.namakategori }}</a></li>
					{% endfor %}
				</ul>
			</div>	
		</div>
	</ul>
</li>
{% endblock %}
{% block content %}	
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1">
				<li><a href="{{url_for('index')}}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Checkout</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- checkout -->
	<div class="checkout">
		<div class="container">
			{% for item in count_carts %}
			<h1>Terima kasih, {{ nama }} telah membeli {{ item.count }} barang di Tokopekita</span></h1>
			{% endfor %}
			<div class="checkout-right">
				<table class="timetable_sub">
					<thead>
						<tr>
							<th>No.</th>	
							<th>Produk</th>
							<th>Nama Produk</th>
							<th>Jumlah</th>
							
						
							<th>Sub Total</th>
							<th>Hapus</th>
						</tr>
					</thead>
					
					{% for cart in item_carts %}
					<tr class="rem1"><form method="post">
						<td class="invert">{{ loop.index }}</td>
						<td class="invert"><a href="?idproduk={{ cart.idproduk }}"><img src="{{url_for('static', filename=cart.gambar)}}" width="100px" height="100px" /></a></td>
						<td class="invert">{{ cart.namaproduk }}</td>
						<td class="invert">
							 <div class="quantity"> 
								<div class="quantity-select">                     
									<h4>{{ cart.qty }}</h4>
								</div>
							</div>
						</td>
				
						<td class="invert">Rp {{ cart.hargaafter*cart.qty }}</td>
						<td class="invert">
							<div class="rem">
							
								<input type="submit" name="update" class="form-control" value="Update" \>
								<input type="hidden" name="idproduknya" value="{{ cart.idproduk }}" \>
								<input type="submit" name="hapus" class="form-control" value="Hapus" \>
							</form>
							</div>
							<script>$(document).ready(function(c) {
								$('.close1').on('click', function(c){
									$('.rem1').fadeOut('slow', function(c){
										$('.rem1').remove();
									});
									});	  
								});
						   </script>
						</td>
					</tr>
					{% endfor %}
								<!--quantity-->
									<script>
									$('.value-plus').on('click', function(){
										var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
										divUpd.text(newVal);
									});

									$('.value-minus').on('click', function(){
										var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
										if(newVal>=1) divUpd.text(newVal);
									});
									</script>
								<!--quantity-->
				</table>
			</div>
			<div class="checkout-left">	
				{% for cart in item_carts %}
				<div class="checkout-left-basket">
					<h4>Total Harga yang harus dibayar saat ini</h4>
					<ul><h1><input type="text" value="Rp {{ cart.hargaafter*cart.qty }}" disabled \></h1></ul>
				</div>
				<br>
				<div class="checkout-left-basket" style="width:80%;margin-top:60px;">
					<div class="checkout-left-basket">
					<h4>Kode Order Anda</h4>
					<h1><input type="text" value="{{ cart.orderid }}" disabled \></h1>
				</div>
				</div>
				
				<div class="clearfix"> </div>
				{% endfor %}
			</div>
			
			
			<br>
			<hr>
			<br><center>
			<h2>Total harga yang tertera di atas sudah termasuk ongkos kirim sebesar Rp10.000</h2>
			<h2>Bila telah melakukan pembayaran, harap konfirmasikan pembayaran Anda.</h2>
			<br>
			
			
			{% for payment in payments %}
		<img src="{{ payment.logo }}" width="300px" height="200px"><br>
        <h4>{{ payment.metode }} - {{ payment.norek }}<br>
        a/n. {{ payment.an }}</h4><br>
        <br>
		 <hr>
		{% endfor %}
		<br>
        <br>
        <p>Orderan anda Akan Segera kami proses 1x24 Jam Setelah Anda Melakukan Pembayaran ke ATM kami dan menyertakan informasi pribadi yang melakukan pembayaran seperti Nama Pemilik Rekening / Sumber Dana, Tanggal Pembayaran, Metode Pembayaran dan Jumlah Bayar.</p>
      
		<br>
		<form method="post">
		<input type="submit" class="form-control btn btn-success" name="checkout" value="I Agree and Check Out" \>
		</form>
	  
	  </center>
		</div>
	</div>
<!-- //checkout -->
{% endblock content %}