{% extends 'layout.html' %}
{% block category %}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Kategori<b class="caret"></b></a>
	<ul class="dropdown-menu multi-column columns-3">
		<div class="row">
			<div class="multi-gd-img">
				<ul class="multi-column-dropdown">
					<h6>Kategori</h6>
					{% for category in categories %}
					<li><a href="/kategori?idkategori={{ category.idkategori }}">{{ category.namakategori }}</a></li>
					{% endfor %}
				</ul>
			</div>	
		</div>
	</ul>
</li>
{% endblock %}
{% block content %}		
	<!-- main-slider --> 
	<ul id="demo1">
		<li>
			<img src="{{url_for('static', filename='images/slide1.jpg')}}" alt="" />
		</li>
		<li>
			<img src="{{url_for('static', filename='images/slide2.jpg')}}" alt="" />
		</li>
		
		<li>
			<img src="{{url_for('static', filename='images/slide3.jpg')}}" alt="" />
		</li>
	</ul>
	<!-- //main-slider -->
	<!-- //top-header and slider -->
	<!-- top-brands -->
	<div class="top-brands">
		<div class="container">
		<h2>Produk Kami</h2>
			<div class="grid_3 grid_5">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
							<div class="agile-tp">
								{% if not session %}
								<h5>Penawaran Terbaik Minggu Ini</h5>
								{% else %}
								<h5>Penawaran Terbaik Minggu Ini Untukmu, {{ session['nama'] }}</h5>
								{% endif %}
								</div>
							<div class="agile_top_brands_grids">
								{% for product in products %}
									<div class="col-md-4 top_brand_left">
										<div class="hover14 column">
											<div class="agile_top_brand_left_grid">
												<div class="agile_top_brand_left_grid_pos">
													<img src="{{url_for('static', filename='images/offer.png')}}" alt=" " class="img-responsive" />
												</div>
												<div class="agile_top_brand_left_grid1">
													<figure>
														<div class="snipcart-item block" >
															<div class="snipcart-thumb">
																<a href="/produk?idproduk={{ product.idproduk }}"><img title=" " alt=" " src="{{url_for('static', filename=product.gambar)}}" width="200px" height="200px" /></a>		
																<p>{{ product.namaproduk }}</p>
																<div class="stars">
																<?php
																$bintang = '<i class="fa fa-star blue-star" aria-hidden="true"></i>';
																$rate = $p['rate'];
																
																for($n=1;$n<=$rate;$n++){
																	echo '<i class="fa fa-star blue-star" aria-hidden="true"></i>';
																};
																?>
																</div>
																<h4>Rp {{product.hargaafter}}<span>Rp {{product.hargabefore}}</span></h4>
															</div>
															<div class="snipcart-details top_brand_home_details">
																	<fieldset>
																		<a href="/produk?idproduk={{ product.idproduk }}"><input type="submit" class="button" value="Lihat Produk" /></a>
																	</fieldset>
															</div>
														</div>
													</figure>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
								<div class="clearfix"> </div>
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //top-brands -->
{% endblock content %}	