{% extends 'layout.html' %}
{% block content %}	
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="{{url_for('index')}}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				{% for kategori in category %}
				<li class="active">{{ kategori.namakategori }}</li>
				{% endfor %}
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!--- beverages --->
	<div class="products">
		<div class="container">
			<div class="col-md-4 products-left">
				<div class="categories">
					<h2>Categories</h2>
					<ul class="cate">
						{% for category in categories %}
						<li><a href="/kategori?idkategori={{ category.idkategori }}"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{ category.namakategori }}</a></li>													
						{% endfor %}	
					</ul>
				</div>																																												
			</div>
			<div class="col-md-8 products-right">
				<div class="agile_top_brands_grids">
					{% for produk in productbycategory %}
						<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="{{url_for('static', filename='images/offer.png')}}" alt=" " class="img-responsive" />
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="/produk?idproduk={{ produk.idproduk }}"><img src="{{url_for('static', filename=produk.gambar)}}" width="200px" height="200px"></a>		
												<p>{{ produk.namaproduk }}</p>
												<h4>Rp {{ produk.hargaafter }}<span>Rp {{ produk.hargabefore }}</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<fieldset>
													<a href="/produk?idproduk={{ produk.idproduk }}"><input type="submit" class="button" value="Lihat Produk" /></a>
												</fieldset>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					
						<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!--- beverages --->
{% endblock content %}