{% extends 'layout.html' %}
{% block category %}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Kategori<b class="caret"></b></a>
	<ul class="dropdown-menu multi-column columns-3">
		<div class="row">
			<div class="multi-gd-img">
				<ul class="multi-column-dropdown">
					<h6>Kategori</h6>
					{% for category in categories %}
					<li><a href="?idkategori={{ category.idkategori }}">{{ category.namakategori }}</a></li>
					{% endfor %}
				</ul>
			</div>	
		</div>
	</ul>
</li>
{% endblock %}
{% block content %}	
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1">
				<li><a href="{{url_for('index')}}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Keranjang</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- checkout -->
	<div class="checkout">
		<div class="container">
			{% for item in count_carts %}
			<h2>Dalam keranjangmu ada : <span>{{ item.count }} barang</span></h2>
			{% endfor %}
			<div class="checkout-right">
				<table class="timetable_sub">
					<thead>
						<tr>
							<th>No.</th>	
							<th>Produk</th>
							<th>Nama Produk</th>
							<th>Jumlah</th>
							
						
							<th>Harga Satuan</th>
							<th>Hapus</th>
						</tr>
					</thead>
					
					{% for item in item_carts %}
					<tr class="rem1"><form method="post">
						<td class="invert">{{ loop.index }}</td>
						<td class="invert"><a href="?idproduk={{ item.idproduk }}"><img src="{{url_for('static', filename=item.gambar)}}" width="100px" height="100px" /></a></td>
						<td class="invert">{{ item.namaproduk }}</td>
						<td class="invert">
							 <div class="quantity"> 
								<div class="quantity-select">                     
									<input type="number" name="jumlah" class="form-control" height="100px" value="{{ item.qty }}" \>
								</div>
							</div>
						</td>
				
						<td class="invert">Rp {{ item.hargaafter }}</td>
						<td class="invert">
							<div class="rem">
							
								<input type="submit" name="update" class="form-control" value="Update" \>
								<input type="hidden" name="idproduknya" value="{{ item.idproduk }}" \>
								<input type="submit" name="hapus" class="form-control" value="Hapus" \>
							</form>
							</div>
							<script>$(document).ready(function(c) {
								$('.close1').on('click', function(c){
									$('.rem1').fadeOut('slow', function(c){
										$('.rem1').remove();
									});
									});	  
								});
						   </script>
						</td>
					</tr>
					{% endfor %}
					<!--quantity-->
					<script>
						$('.value-plus').on('click', function(){
							var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
							divUpd.text(newVal);
						});
						
									$('.value-minus').on('click', function(){
										var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
										if(newVal>=1) divUpd.text(newVal);
									});
									</script>
								<!--quantity-->
							</table>
						</div>
						<div class="checkout-left">	
							<div class="checkout-left-basket">
								<h4>Total Harga</h4>
								<ul>
									{% for item in item_carts %}
									<li>{{ item.namaproduk }}<i> - </i> <span>Rp {{ item.hargaafter*item.qty }} </span></li>
									<li>Total (inc. 10k Ongkir)<i> - </i> <span>Rp {{ item.hargaafter*item.qty }}</span></li>
									{% endfor %}
								</ul>
							</div>
							<div class="checkout-right-basket">
								<a href="{{url_for('index')}}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>
								<a href="{{url_for('checkout')}}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Checkout</a>
							</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //checkout -->
{% endblock content %}